.description{
	background-color: rgba(223,229,236,255);
	position: relative;
	width: 768px;
	border:2px solid rgba(119,126,136,255);
	padding: 25px 20px;
	box-sizing: border-box;
}

.description__text{
	margin: 0;
	box-sizing: border-box;
	padding-left: 10px;
	background-color: rgba(204,211,220,255);
	font-size: 15px;
	line-height: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: rgba(43,49,55,255);
}