.robo{
	background-color: rgba(179,185,193,255);
	padding: 73px 0 91px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.robo__description{
	margin-left: 43%;
}

.robo__table{
	margin: 69px auto;
	max-width: 1297px;
	padding-left: 0;
	list-style: none;
	letter-spacing: 12px;
	text-align: center;
}

.robo__item{
	display: inline-block;
	position: relative;
}

.robo__item-info{
	display: none;
}

.robo__img:hover ~ .robo__item-info{
	display: block;
}




.robo__decor-triangle{
	position: absolute;
	left: -206px;
	top: -7px;
}

.robo__item:first-child{
	z-index: 21;
	margin-left: 12%;
}

.robo__item:nth-child(2){
	z-index: 20;
}
.robo__item:nth-child(3){
	z-index: 19;
	margin-right: 12%;
}

.robo__item:nth-child(4){
	z-index: 21;
	transform: translateY(-156px);
}

.robo__item:nth-child(5){
	z-index: 20;
	transform:translateY(-156px);
}

.robo__item:nth-child(6){
	z-index: 19;
	transform:translateY(-156px);
}

.robo__item:nth-child(7){
	z-index: 18;
	transform:translateY(-156px);
}

