.header{
	position: relative;
	z-index: 2;
}

.header__navigation{
	display: flex;
	height: 42px;
	width: 100%;
	align-items: center;
	color: #B3B9C1;
	max-width: 890px;
	margin: 0 auto;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	justify-content: space-between;
	box-sizing: border-box;
	background-color: rgba(25,33,48,255);
}
.header__list{
	display: flex;
	margin: 0;
	list-style: none;
	padding-left: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}

.header__link{
	color: inherit;
	text-decoration: none;
}

.header__link:hover{
	color: #ebcd71;
}

.header__item_type_framed{
	width: 95px;
	height: 32px;
	background-color: rgba(12,21,33,255);
	text-align: center;
	color: #ebcd71;
	box-sizing: border-box;
	border: 1px solid rgba(46,59,82,255);
	padding-top: 6px;
}

.header__item_type_framed:hover{
	box-shadow: 0 0 5px rgba(232, 203, 112, 0.2);
}

.header__news-block{
	position: relative;
}

.header__btn{
	background-color: transparent;
	color: inherit;
	border: none;
	cursor: pointer;
}

.header__btn:focus{
	color: #ebcd71;
}

.header__news{
	position: absolute;
	width: 312px;
	min-height: 203px;
	background-color: rgba(44,51,65,255);
	top: 15px;
	left: 0;
	display: none;
}

.header__btn:focus ~ .header__news {
	display: block;
}

.header__menu-burger{
	display: none;
	margin-left: 20px;
	position: relative;
	overflow: visible;

}

.header__burger-img{
	margin-top: 4px;
}

.header__burger-img:hover ~ .header__burger-navigalion{
	display: block;
}

.header__burger-navigalion{
	position: absolute;
	width: 69px;
	min-height: 133px;
	background-color: rgba(25,33,48,255);
	display: none;
	top: 15px;
	left: -30px;
	box-sizing: border-box;
	padding: 6px 4px 14px;
	overflow: visible;

}

.header__burger-list{
	margin: 0;
	padding-left: 0;
	list-style: none;
	font-size: 12px;
	line-height: 15px;
	text-align: right;
	overflow: visible;

}

.header__burger-item + .header__burger-item{
	margin-top: 10px;
}

.header__img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
@media screen and (max-width: 1400px) {
	.header__news{
		right: 0;
		left: auto;
	}
}

@media screen and (max-width: 1280px) {
	.header__navigation{
		max-width: 825px;
	}

}

@media screen and (max-width: 1024px) {
	.header__navigation{
		max-width: 726px;
		height: 34px;
	}
}

@media screen and (max-width: 768px) {
	.header__navigation{
		max-width: 545px;
		height: 26px;
		font-size: 12px;
		line-height: 15px;
	}
	.header__item_type_framed {
		width: 52px;
		height: 17px;
		padding-top: 0;
	}
}

@media screen and (max-width: 600px) {
	.header__navigation{
		max-width: 100%;
		padding-left: 67px;
		padding-right: 22px;
		font-size: 11px;
		line-height: 14px;
	}
	.header__item:nth-child(n+2):nth-child(-n+6){
	display: none
	}
	.header__item_type_framed {
		width: 44px;
		height: 15px;
		padding-top: 0;
	}
	.header__menu-burger{
		display: block;
	}
	.header__news{
		width: 150px;
		right: 0;
		left: auto;
	}
}

@media screen and (max-width: 320px) {
	.header__navigation{
		height: 19px;
		padding-left: 50px;
		padding-right: 15px;
		font-size: 10px;
		line-height: 12px;
	}
	.header__item_type_framed {
		width: 33px;
		height: 12px;
		padding-top: 0;
	}
}




